@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 100%;
  }
  #about,
  #services,
  #testimonials,
  #contact,
  #footer {
    width: 100%;
  }

}

@media screen and (max-width: 340px) {
  .intro h1{
    font-size: 3.4rem;
  }
  #features h3{
    font-size: 1.5rem;
  }
}
